## Use a real Publishable Key so it works on mainnet, else expect to be confused
NEXT_PUBLIC_MAGIC_KEY=pk_<urmagickey>
INFURA_ENDPOINT=https://mainnet.infura.io/v3/9f6eb0e0e09b4214bdbdd08344e8b338
SUPABASE_KEY=xxx